/* css */
body{
    background-color: black;
    color: white;
}

input{
    border: none;
    background: transparent;    /*input창 투명화*/
    font-size: 30px;
    color: white;
    margin: 5px 15px;
    outline: none;
}

input::placeholder{
    color: rgb(218, 218, 218);
}

button{
    border: none;
    border-radius: 5px;
}

li,ul{
    list-style: none;
    padding: 3px 0px 0px;
}

.main{
    display: flex;
    justify-content: center;    /*위아래 중앙배치*/
    align-items: center; 
    min-height: 100%;           /*좌우 중앙배치*/
    /*grid 사용시
    display: grid;
    place-items: center;
    */
    width: 100%;
    position: absolute;
    flex-direction: column;
}

.js-toDoHeader{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 26%;
}

.js-header{
    font-size: 20px;
}

.js-header-Mu{

}

.js-header-Set{
    justify-content: flex-end;
}

.js-clock{
    font-size: 100px;
    font-weight: bold;
}

.js-name{
    margin: 1%;
    font-size: 70px;
}

.js-toDoBt{
    position: absolute;
    right:0px;
    bottom:0px;
    margin: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
}

.js-toDo{
    position: absolute;
    width: 26%;
    right: 0px;
    bottom: 30px;    /*오른쪽 하단 아래 정렬(position부터 bottom까지*/
    margin: 5px;
    background-color: black;
    border-radius: 10px;    
    opacity: 1;     /*display를 사용하면 animation으로 fadeIn과 fadeOut을 따로 설정해야하는데 어려워서 opacity를 사용하였다. */
    transition: opacity 0.5s ease-in-out;
}

.js-toDoList{
    font-size: 20px;
}

.strikeout{
    text-decoration: line-through;
}

.js-weather{

}

.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}