/* css */
body{
    background-color: black;
    color: white;
}

input{
    border: none;
    background: transparent;
    font-size: 30px;
    color: white;
    text-align: center;
}

input::placeholder{
    color: rgb(218, 218, 218);
}

.showing{
    display: block;
}

.main{
    display: flex;
    justify-content: center;    /*위아래 중앙배치*/
    align-items: center; 
    min-height: 100%;           /*좌우 중앙배치*/
    /*grid 사용시
    display: grid;
    place-items: center;
    */
    width: 100%;
    position: absolute;
    flex-direction: column;
}

.js-clock{
    font-size: 100px;
    font-weight: bold;
}

.js-name{
    margin: 1%;
    font-size: 70px;
}

.js-toDo{
    align-items: flex-end;
    padding: 5px;
}

.js-toDoList{
    font-size: 50px;
}

.js-weather{

}

.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}